<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Web Socket</h1>
    <label for="username">Message :</label>
    <input id="username" type="text" placeholder="Enter userName"/>
    <button id="send_username">Send Username</button>
    <br>
    <br>
    <label for="message">Message :</label>
    <textarea id="message" name="message" rows="4" cols="50">
    </textarea>
    <button id="send_message">Send Message</button>

    <br>

    
    <div id="chatroom">

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../chat.js"></script>

    
</body>
</html>